#include <winres.h>
#include "resource.h"
#include "version.h"

IDI_APP ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION EP_VERSION_MAJOR, EP_VERSION_MINOR, EP_VERSION_PATCH, 0
 PRODUCTVERSION EP_VERSION_MAJOR, EP_VERSION_MINOR, EP_VERSION_PATCH, 0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "ORCA"
            VALUE "FileDescription", "Explorer Pinned (file dialog support)"
            VALUE "FileVersion", EP_VERSION_STRING
            VALUE "InternalName", "ExplorerPinnedShell"
            VALUE "LegalCopyright", "Copyright (c) 2026 ORCA. MIT License."
            VALUE "ProductName", "Explorer Pinned"
            VALUE "ProductVersion", EP_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 1200
    END
END
